@use "../global";

$skin: global.$primary;
$text: #fff;
$radius: 4px;

@mixin generator {
    display: block;
    transition: all 200ms ease-in-out;
    border-radius: $radius;
    padding: 1em 2em;
    width: 100%;
    max-width: 200px;
    text-align: center;
    color: $text;

    &:hover,
    &:focus {
        opacity: 0.8;
    }

    @include global.sp {
        width: 50%;
    }
}
