.u-text {
    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }

    &-left {
        text-align: left;
    }
}

@for $value from 1 through 10 {
    .u-fz#{$value}x {
        font-size: $value + em;
    }
}
