@use "../helper/global";

$_display: inline, inline-block, block, flex, inline-flex, table, list, list-item, grid;
@each $var in $_display {
    .u-#{$var} {
        display: $var;
    }
}

.u-hide {
    display: none !important;

    &-sp {
        @include global.sp {
            display: none !important;
        }
    }

    &-sptab {
        @include global.sptab {
            display: none !important;
        }
    }

    &-tab {
        @include global.tab {
            display: none !important;
        }
    }

    &-tabpc {
        @include global.tabpc {
            display: none !important;
        }
    }

    &-tabwide {
        @include global.tabwide {
            display: none !important;
        }
    }

    &-pc {
        @include global.pc {
            display: none !important;
        }
    }

    &-pc2 {
        @include global.pc2 {
            display: none !important;
        }
    }

    &-wide {
        @include global.wide {
            display: none !important;
        }
    }
}