$_maxlength: 50;
$_stage: 4;
$_gap_em: 0.25em;

@for $value from 0 through $_maxlength {
    .u-m#{$value * $_stage} {
        margin: $value * $_gap_em;
    }
}

@for $value from 0 through $_maxlength {
    .u-mx#{$value * $_stage} {
        margin-right: $value * $_gap_em;
        margin-left: $value * $_gap_em;
    }
}

@for $value from 0 through $_maxlength {
    .u-my#{$value * $_stage} {
        margin-top: $value * $_gap_em;
        margin-bottom: $value * $_gap_em;
    }
}

@for $value from 0 through $_maxlength {
    .u-mt#{$value * $_stage} {
        margin-top: $value * $_gap_em;
    }
}

@for $value from 0 through $_maxlength {
    .u-mr#{$value * $_stage} {
        margin-right: $value * $_gap_em;
    }
}

@for $value from 0 through $_maxlength {
    .u-mb#{$value * $_stage} {
        margin-bottom: $value * $_gap_em;
    }
}

@for $value from 0 through $_maxlength {
    .u-ml#{$value * $_stage} {
        margin-left: $value * $_gap_em;
    }
}
