@for $value from 0 through 40 {
    .u-pd#{$value * 5} {
        padding: $value * 0.3125em;
    }
}

@for $value from 0 through 40 {
    .u-pdt#{$value * 5} {
        padding-top: $value * 0.3125em;
    }
}

@for $value from 0 through 40 {
    .u-pdb#{$value * 5} {
        padding-bottom: $value * 0.3125em;
    }
}

@for $value from 0 through 40 {
    .u-pdr#{$value * 5} {
        padding-right: $value * 0.3125em;
    }
}

@for $value from 0 through 40 {
    .u-pdl#{$value * 5} {
        padding-left: $value * 0.3125em;
    }
}
