@use "../helper/global";

body {
    color: global.$text_default;
    font-family: global.$ff;
    @include global.sp {
        font-size: global.px2rem(global.$fz_sp);
    }
    @include global.tab {
        font-size: global.px2rem(global.$fz_tab);
    }
    @include global.pc {
        font-size: global.px2rem(global.$fz_pc);
    }
}
