@use "../helper/global";

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    @include global.sp {
        font-size: 1.25rem;
    }
    @include global.tab {
        font-size: 1.4rem;
    }
    @include global.pc {
        font-size: 1.6rem;
    }
}